<!--This is the main page when you start-->
<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Tutor Matching</h1>
        <p>We're here to help you find the best tutor!</p>
    </div>
    <ul>
      <li><a href="/tutorForm">Filling a comment for your tutor!</a></li>
      <br>
      <li><a href="/tuteeForm">Filling a comment for your tutee!</a></li>
    </ul>
<%- include('bootfooter') -%>
