<!--This is the main page when you start-->
<%- include('bootheader') -%>
    <div class="jumbotron">
        <h1>Tutor Matching</h1>
        <p>We're here to help you find the best tutor!</p>
    </div>
    <ul>
      <li><a href="/tutorcomment">Demo of Tutor Comment Form</a></li>
    </ul>
<%- include('bootfooter') -%>
  
