<%- include('bootheader') -%>
    <div class="jumbotron">
        <h1>Tutor Comment Form</h1>
        <p>Add comments to your tutor here</p>
    </div>

    You enter the following ..<br>

    The tutorName was: <%= tutorName %><br>
    The comments were: <br><%= coms %><br>

<%- include('bootfooter') -%>
