<%- include('bootheader') -%>
<div class="container">
  <div class="jumbotron">
      <h2>CS152aj Quiz1</h2>
      <p>Write the HTML with Bootstrap to create this page. Upload your code to Latte. You can make your page in yellowcartwheel.</p>
  </div>
  <div class="row">
    <div class="col-sm-1">
      <h2>1</h2>
      <p>Write the HTML with Bootstrap to create this page. Upload your code to Latte. You can make your page in yellowcartwheel.</p>
    </div>
    <div class="col-sm-2">
      <h2>2</h2>
      <p>Write the HTML with Bootstrap to create this page. Upload your code to Latte. You can make your page in yellowcartwheel.</p>
    </div>
    <div class="col-sm-3">
      <h2>3</h2>
      <p>Write the HTML with Bootstrap to create this page. Upload your code to Latte. You can make your page in yellowcartwheel.</p>
    </div>
    <div class="col-sm-1">
      <h2>1</h2>
      <p>Write the HTML with Bootstrap to create this page. Upload your code to Latte. You can make your page in yellowcartwheel.</p>
    </div>
    <div class="col-sm-2">
      <h2>2</h2>
      <p>Write the HTML with Bootstrap to create this page. Upload your code to Latte. You can make your page in yellowcartwheel.</p>
    </div>
    <div class="col-sm-3">
      <h2>3</h2>
      <p>Write the HTML with Bootstrap to create this page. Upload your code to Latte. You can make your page in yellowcartwheel.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h2>Personal Info</h2>
      <table class="table table-bordered" width="100%">
        <tbody>
          <tr>
            <td width="30%">Name</td>
            <td width="70%"><input type="text" name="name"></td>
          </tr>
          <tr>
            <td width="30%">Birthday</td>
            <td width="70%"><input type="date" name="date"></td>
          </tr>
          <tr>
            <td width="30%">Gender</td>
            <td width="70%">
              <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
              <label class="form-check-label" for="exampleRadios1">
                male
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                female
              </label>
            </div>
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
              <label class="form-check-label" for="exampleRadios3">
                other
              </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <h2>Short Bio</h2>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" cols="40">
This space is 40 columns wide and has 10 rows. Only one gender can be selected at a time.
      </textarea>
      <br>
      <br>
      <button type="button" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-warning">Save</button>
      <button type="button" class="btn btn-danger">Reset</button>
    </div>
  </div>
</div>

<%- include('bootfooter') -%>
