<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Register as a tutor here!</h1>
    </div>

    <form method="post" action="/tutorRegisterProcess">
      Your email: <input type="text" name="email"><br>
      <br>
      <br>
      A brief introduction of you as a tutor: <textarea rows="4" cols="50" name ="introduction"></textarea><br>
      <br>
      <br>
      Your salary: <input type="text" name="salary"><br>
      <br>
      <br>
      Your available subject: <input type="text" name="subject"><br>
      <br>
      <br>
      <% if(loggedIn){ %>
        <input type="submit">
        <% } else { %>
          You must be logged in to submit form info.
          <% } %>

    </form>

<%- include('bootfooter') -%>
